{
  "presets": [
    [
      "env",{ "modules": false }
    ],
    "react"
  ],
  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ]
    },
    "test": {
      "presets": ["env", "react"]
    }
  }
}
