.site {
  align-items: center;
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
  box-shadow: 0 1px 2px 0 lightgrey;
  margin-bottom: 15px;

  @media (max-width: $breakpoint-sm) {
    flex-direction: column;
  }
}